.flex{
    display: flex;
    
    margin-bottom: 150px;
    margin-top: 150px;


}
.img{
    width: 30%;
}
.written{
    width: 50%;
   
    font-size: 30px;
    border: 1px solid white;
}
written img{
    width: 200px;
}